.navbar{
  background-color: black;
  width:100%;
  /* display: flex; */
  z-index: 1000;
  border-bottom: 2px solid white;
}

.navbar a {
  padding:2px;
  padding-top:10px;
  color:white;
  text-decoration: none;
}

.icon.right{
  float:right;
  background-color: transparent;
  border: none;
  font-size: 20px;
  margin-top: 20px;
  margin-right: 20px;
}

.icon.right:hover, .icon.right:focus{
  cursor:pointer;
}

.link, .logo{
  color: grey;
  text-decoration: none;
  padding: 20px;
  text-align: center;
  transition: .5s;
  /* position:relative; */
}

.logo{
  text-align:left;
  display: inline-block;
  color: grey;
}

.link:hover {
  color: #333;
  background-color: #fff;
}

.show.link{
  display:block;
}

.dontshow.link{
  display: none;
}

.paw-logo{
  width: 20px;
  height: 20px;
  position: absolute;
  left: 90px;
  top: 17px;
}

.icon{
  color:white;
  display:inline;
}

@media (min-width: 900px){
  .main-navbar .link{
    display: inline-block;
  }

  .show.link, .dontshow.link{
    display: inline-block;
  }

  .right{
    float:right;
  }

  .icon{
    display:none;
  }
}